.form-article {
    #image-fields-list {
        list-style: none;
        padding-left: 0;
    }
}

.vich-image {
    img {
        width: 30%;
        border-radius: $border-radius;
    }
}

.list-image {
    width: 30%;

    .vich-image {
        width: 100%;

        img {
            width: 100%;
            border-radius: $border-radius;
            box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
                0 8px 10px -5px rgba(0, 0, 0, 0.2);
        }

        .form-check {
            display: none;
        }
    }
}
