{% extends 'base.html.twig' %}

{% block title %}
	Liste des articles |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<div class="row">
			<div class="col-md-3">
				{% include "frontend/article/_filter.html.twig" with {form: form} only %}
			</div>
			<div class="col-md-9">
				<div class="d-flex justify-content-end gap-2 mb-2 navigation-blog-list">
					{{ knp_pagination_sortable(articles, 'Date', 'a.createdAt', {'direction': 'desc', 'class': 'btn btn-primary d-flex gap-1'}) }}
					{{ knp_pagination_sortable(articles, 'Nom', 'a.titre', {'class': 'btn btn-primary d-flex gap-1'}) }}
				</div>
				<div class="blog-list">
					{% for article in articles %}
						{% include "frontend/article/_card.html.twig" with {article: article} only %}
					{% endfor %}
				</div>
				{{ knp_pagination_render(articles) }}
			</div>
		</div>
	</section>
{% endblock %}
