{% extends 'base.html.twig' %}

{% block title %}
	Liste des articles |
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4 js-filter">
		<div class="row">
			<div class="col-md-3">
				{% include "Frontend/Article/_filter.html.twig" with {form: form} only %}
			</div>
			<div class="col-md-9">
				<div class="d-flex justify-content-between mb-2 navigation-blog-list">
					{% include "Frontend/Article/_count.html.twig" %}
					<div class="d-flex justify-content-end gap-2 js-filter-sorting">
						{% include "Frontend/Article/_sorting.html.twig" %}
					</div>
				</div>
				<div class="blog-list js-filter-content" data-js-locale={{ app.request.locale }}>
					{% include "Frontend/Article/_articles.html.twig" with {articles: articles} only %}
				</div>
				{% include "Frontend/Article/_pagination.html.twig" %}
			</div>
		</div>
	</section>
{% endblock %}
