{% extends "base.html.twig" %}

{% block title %}
	Page d'accueil |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div id="hero">
		<div class="header">
			<h1>Bienvenue sur le blog développé en Symfony</h1>
		</div>
	</div>
	<section class="container position-relative mt-4">
		<div class="position-relative">
			<h2 class="text-center">Nos derniers articles</h2>
			<a href="{{ path('article.index') }}" class="btn btn-primary text-light position-absolute top-0">Voir les articles</a>
		</div>
		<div class="blog-list mt-4">
			{% include "frontend/article/_articles.html.twig" with {articles: articles} only %}
		</div>
	</section>
{% endblock %}
