#hero {
    height: 80vh;
    background-image: url("../../images/banner-formations.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .header {
        font-size: 36px;
        text-align: center;
        padding: 0.5em 1em;
        border-radius: $border-radius;
        background: rgba(27, 39, 49, 0.6);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        h1 {
            color: $white;
        }
    }
}
