.blog-list {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.blog-card {
    margin-top: 4em;
    flex: 0 0 auto;
    width: 30%;
    display: inline-block;
    margin-bottom: 30px;
    border-radius: $border-radius;
    background: $white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    &-image {
        overflow: hidden;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -60px;
        border-radius: $border-radius;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.2);

        img {
            width: 100%;
            height: 100%;
            border-radius: $border-radius;
        }
    }

    &-content {
        padding: 15px 30px;
        margin-bottom: 0px;

        .blog-card-date {
            margin-bottom: 0;
        }

        .author {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;

            .avatar {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border-radius: 50%;

                img {
                    width: 100%;
                }
            }
        }
    }

    &-reviews {
        margin-bottom: 0px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}

.navigation-blog-list {
    width: 90%;
    margin: auto;
}
