.show-comments {
    margin-bottom: 3rem;

    .comments-sidebar-list {
        width: 90%;

        .comment-item {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }

    .comments-list {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .comment-item {
        border: 1px solid $secondary;
        border-radius: $border-radius;
        overflow: hidden;

        .comment-header {
            background: $primary;
            padding: 5px 10px;
        }

        .comment-content {
            padding: 1rem;
        }
    }
}
