header {
    .navbar {
        .switch-locale {
            position: relative;
            color: $grey-aside;
            padding: 0 0 0 10px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 2px;
                border-radius: $border-radius;
                background-color: $grey-aside;
            }

            a {
                color: inherit;
                text-decoration: none;
            }

            .locale-dropdown {
                display: flex;
                align-items: center;
                background: none;
                border: none;

                &::before {
                    display: none !important;
                }

                .flag-icon-main {
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                    width: 30px;
                    height: 30px;
                }
            }

            .locale-item {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}
