* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading;
    margin-bottom: 0px;
}

h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: -0.8px;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    font-weight: 300;
}

.btn-primary {
    color: $white !important;
    background-color: $secondary;
    border: 1px solid $secondary;

    &:hover {
        background-color: darken($secondary, 10%);
        border: 1px solid darken($secondary, 10%);
    }
}

.alert {
    margin-bottom: 0;
}

pre {
    width: 100%;
    border-radius: $border-radius;
}
