.form-filter {
    display: block;
    position: sticky;
    top: 4em;

    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &.is-loading::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $white;
        opacity: 0.5;
        z-index: 3;
    }
}

.article-main-content {
    display: flex;

    .column-left {
        flex: 1 0 30%;
        padding-right: 1em;

        .sidebar-content {
            display: block;
            position: sticky;
            top: 4em;
            height: 100vh;
            overflow: scroll;
        }

        .categorie-article {
            .list-tag {
                margin-top: 1em;
                display: flex;
                flex-wrap: wrap;
                gap: 1em 0.5em;

                .tag {
                    background-color: $secondary;
                    border-radius: $border-radius;
                    color: $primary;
                    margin: 0;
                    padding: 5px 10px;
                    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }

    .column-right {
        flex: 1 0 70%;

        .article-content {
            display: grid;
        }
    }
}
