<!DOCTYPE html>
<html lang='{{ app.request.locale }}'>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" href="/favicon/favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
		<link rel="manifest" href="/favicon/site.webmanifest">
		<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#00aba9">
		<meta name="theme-color" content="#ffffff">
		<title>
			{% block title %}
				My app Symfony
			{% endblock %}
		</title>
		<script src="https://kit.fontawesome.com/8b5299c4a2.js" crossorigin="anonymous"></script>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

	</head>
	<body>
		{% include "Layout/header.html.twig" %}
		<main>
			{% include "Layout/flash.html.twig" %}
			{% block body %}{% endblock %}
		</main>
		{% include "Layout/footer.html.twig" %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
