{% for flash in app.flashes('error') %}
	<div class="alert alert-danger" role="alert">
		<i class="bi bi-exclamation-triangle-fill"></i>
		{{ flash }}
	</div>
{% endfor %}
{% for flash in app.flashes('info') %}
	<div class="alert alert-info" role="alert">
		<i class="bi bi-info-circle-fill"></i>
		{{ flash }}
	</div>
{% endfor %}
{% for flash in app.flashes('success') %}
	<div class="alert alert-success" role="alert">
		<i class="bi bi-patch-check-fill"></i>
		{{ flash }}
	</div>
{% endfor %}
