{% for flash in app.flashes('error') %}
	<div class="alert alert-danger" role="alert">{{ flash }}</div>
{% endfor %}
{% for flash in app.flashes('success') %}
	<div class="alert alert-success" role="alert">{{ flash }}</div>
{% endfor %}
