<footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
	<div class="container">
		<div class="col-md-12 d-flex align-items-center">
			<div class="logo-footer col-md-10">
				<a href="{{ path('home') }}" class="mb-3 me-2 mb-md-0 text-light text-decoration-none lh-1">
					{{ brandName }}
				</a>
				<span class="text-light">©
					{{ 'now' | date('Y') }}
					{{ brandName }}, Inc</span>
			</div>
			<ul class="nav col-md-2 justify-content-end list-unstyled d-flex">
				<li class="ms-3">
					<a class="text-light icon-social" href="#">
						<i class="fa-brands fa-linkedin"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
